/*no parents*/

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  padding: 15px;
  margin: 0;
  font-size: 16px;
}

body, input, textarea {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

a {
  color: #08c;
  text-decoration: none;
  font-weight: bold;
}

.main-wrapper {
  padding: 10px;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.livefeed {
  text-align: left;
}

.title {
  font-size: 24px;
}

.description {
  font-size: 13px;
  color: #777;
}

time {
  color: #777;
  display: block;
  font-family: monospace;
}

.wifi-icon {
  -webkit-transform: rotate(45deg) scale(0.7, 0.7);
  transform: rotate(45deg) scale(0.7, 0.7);
  background: radial-gradient(circle 50px at 100% 100%, transparent 20px, #999 21px, #999 30px, transparent 31px, transparent 40px, #999 41px, #999 50px, transparent 51px);
  width: 50px;
  height: 50px;
  margin: 0 auto 20px;
  position: relative;
}

.wifi-icon:before {
  content: ""; display: block; position: absolute;
  bottom: -2px; right: -2px;
  border-radius: 20px;
  width: 12px; height: 12px;
  background: #999;
}

.footer {
  display: none; /*  Temporary  */
  max-width: 400px;
  border-top: 1px solid #e0e0e0;
  margin: 30px auto 0;
  padding: 15px;
  color: #777;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
}
