/*no parents*/

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-size: 13px;
}

body, input, textarea {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.3;
}

.main-wrapper {
  padding: 10px;
  max-width: 400px;
  margin: auto;
}

time {
  color: #777;
  display: block;
  font-family: monospace;
}

.wifi-icon {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: radial-gradient(circle 50px at 100% 100%, transparent 20px, #999 21px, #999 30px, transparent 31px, transparent 40px, #999 41px, #999 50px, transparent 51px);
  width: 50px;
  height: 50px;
  margin: 0 auto 30px;
  position: relative;
}

.wifi-icon:before {
  content: ""; display: block; position: absolute;
  bottom: -2px; right: -2px;
  border-radius: 20px;
  width: 12px; height: 12px;
  background: #999;
}
